@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('../fonts/HelveticaNeueLTPro-Md.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTPro-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('../fonts/HelveticaNeueLTPro-Blk.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTPro-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('../fonts/HelveticaNeueLTPro-Hv.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTPro-Hv.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro Roman';
    src: url('../fonts/HelveticaNeueLTPro-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTPro-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('../fonts/HelveticaNeueLTPro-Bd.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTPro-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('../fonts/HelveticaNeueLTPro-Ex.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTPro-Ex.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* ***** Common Css **** */
:root {
    scroll-behavior: initial;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    height: 100%;
    width: 100%;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

a {
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    text-decoration: none;
}

body {
    font-family: 'Helvetica Neue LT Pro';
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    background: #202020;
}

.hero-wrp img.pattern1 {
    display: none;
}

.main-wrpper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("../images/body-background.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.container {
    max-width: 1543px;
}

/* ***** End Common Css **** */

/* Header Section  */
/* Header Section  */
/* Header Section  */
.header nav {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background: #1a0000;
}

.header .navbar .navbar-brand img {
    width: 120px;
    padding: 0 1rem;
}

.navbar .navbar-toggler:focus {
    outline: 0;
    box-shadow: none;
}

.navbar .navbar-toggler .togglerIcon {
    width: 30px;
    height: 30px;
}

.header .navbar-nav .nav-link {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 0 1rem;
}

.navbar .navbar-nav li a.active,
.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:focus,
.navbar .navbar-nav .active a:hover {
    color: #FF0000;
}

.header .navbar-nav .nav-link:hover {
    color: #FF0000;
}

.header .navbar .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0 1rem;
}

.header .navbar .social-icons a {
    color: #FFFFFF;
    font-size: 10px;
}

.header .navbar .social-icons a img {
    width: 25px;
    height: auto;
}


/* Header Responsive  */
@media screen and (max-width: 1199px) {
    .header .navbar-nav {
        padding: 1.5rem 0;
    }

    .header .navbar-nav .nav-link {
        padding-top: 0.5rem;
    }

    .header .navbar .social-icons {
        justify-content: flex-start;
        padding-bottom: 2rem;
    }
}

/* Header Section End  */


/* Banner Section  */
/* Banner Section  */
/* Banner Section  */
.banner {
    margin-top: 67px;
    position: relative;
    min-height: 100vh;
}

.banner img {
    max-width: 100%;
}

.banner .hero-bg {
    background: url(../images/heroBg.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    z-index: 7;
}

/* Banner Context  */
.banner .banner-context {
    position: relative;
    z-index: 77;
}


.banner .banner-context .main-photo img {
    max-width: 100%;
}

.banner .banner-context .hero-detail .detail-img {
    width: 60px;
    height: 60px;
}


.banner .banner-context .hero-detail .title h4 {
    font-family: 'Helvetica Neue LT Pro';
    font-size: 25px;
    font-weight: 900;
    color: #FFFFFF;
}

.banner .banner-context .hero-detail .title h1 {
    font-family: 'Helvetica Neue LT Pro';
    font-size: 60px;
    font-weight: 900;
    color: #FFFFFF;
}


.banner .banner-context .hero-detail .title-info p {
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 1rem;
}

.banner .banner-context .hero-detail .button a {
    background: #FF3333;
    font-size: 18px;
    color: #FFFFFF;
    padding: 13px;
    border-radius: 20px;
}


/* Poker Text  */
.banner .poker-image {
    width: 100%;
    height: 50vh;
}

.banner .poker-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 16;
}

.banner .poker-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 16;
}



/* Function Banner Hover  */
.banner:hover .banner-context {
    display: block;
}

.banner-context {
    /* display: none; */
}


.banner .poker-container {
    display: none;


}

.banner:hover .poker-container {
    display: block;
}

/*Banner Animation Control  */
.fromTopSide-animation {
    opacity: 0;
    transform: translateY(-100px);
    animation-name: fade-up-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.02s;
    animation-fill-mode: forwards;
}

@keyframes fade-up-animation {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.fromLeftSide-animation {
    opacity: 0;
    transform: translateX(-100px);
    animation-name: fade-left-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.02s;
    animation-fill-mode: forwards;
}

@keyframes fade-left-animation {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.banner .piker-bottom {
    opacity: 0;
    transform: translateX(-100px);
    animation: fade-left-animation 2s ease-in-out 0.025s forwards;
}

@keyframes fade-left-animation {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.fromRightSide-animation {
    opacity: 0;
    transform: translateX(100px);
    animation: fade-right-animation 2s ease-in-out 0.025s forwards;
}

@keyframes fade-right-animation {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}





/* Banner Responsive Section  */
@media screen and (max-width: 992px) {
    .banner .poker-container {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .banner .poker-left {
        position: static;
    }

    .banner .poker-right {
        position: static;
    }

    .banner .poker-image {
        display: none;
    }
}

@media screen and (max-width: 490px) {
    .banner .banner-context .hero-detail .title h1 {
        font-size: 40px;
    }
    .banner .banner-context .main-photo img  {
      display: none;
    }
}

/* Banner Section End  */




/* **** DEVILFISH VISION **** */
.devil-container {
    background: #1c0101;
}

.devil-container .title h2 {
    font-size: 35px;
    font-weight: 900;
    color: #FFFFFF;
}

.devil-container .title h2 span {
    color: #FF0000;
}

.devil-container .title .title-info {
    width: 700px;
    margin: auto;
}

.devil-container .title .title-info p {
    font-size: 16px;
}

.devil-container .devil-vision {
    border: 2px solid #FF0000;
    border-radius: 50px;
}

.devil-container .devil-vision {
    border-bottom: 2px solid #FF0000;

}

.devil-container .devil-vision .vision-border {
    border-right: 2px solid #FF0000;
}

.devil-container .devil-vision .vision-item {
    padding: 4rem 4rem;
    transition: 0.3s;
    cursor: pointer;
    min-height: 330px;
}

.devil-container .devil-vision .vision-item:hover {
    background: #691919;
    border-radius: 50px 0px 0px 0px;
}

.devil-container .devil-vision .vision-item.second-vision:hover {
    background: #691919;
    border-radius: 0px 50px 0px 0px;
}

.devil-container .devil-vision .vision-item p.title {
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.devil-container .devil-vision .vision-item .devil {
    display: flex;
    align-items: center;
}

.devil-container .devil-vision .vision-item .devil p {
    font-weight: 400;
    color: #FFFFFF;
    font-size: 14px;
}


.devil-container .devil-vision .vision-item .devil p.pl3 {
    width: 80px;
    padding-left: 3rem;
}

.devil-container .devil-vision .vision-item .devil p span {
    border: 1px solid #FFFFFF;
    padding: 2px 7px;
    border-radius: 20px;
    transition: 0.3s;
}

.devil-container .devil-vision .vision-item:hover .devil p span {
    border-radius: 20px;
    background: #FFFFFF;
    color: #202020;
}

/* Devil Bottom  */
.devil-container .devil-vision .devil-bottom {
    padding: 3rem;
    transition: 0.3s;
    border-top: 2px solid #FF0000;
    cursor: pointer;
}

.devil-container .devil-vision .devil-bottom:hover {
    background: #691919;
    border-radius: 0px 0px 50px 50px;
}

.devil-container .devil-vision .devil-bottom .title p {
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.devil-container .devil-vision .devil-bottom .devil {
    display: flex;
    align-items: center;
}

.devil-container .devil-vision .devil-bottom .item p {
    font-weight: 400;
    color: #FFFFFF;
    font-size: 14px;
}

.devil-container .devil-vision .devil-bottom .item p.pl3 {
    width: 80px;
    padding-left: 3rem;
}

.devil-container .devil-vision .devil-bottom .devil p span {
    border: 1px solid #FFFFFF;
    padding: 2px 7px;
    border-radius: 20px;
    color: #FFFFFF;
    transition: 0.3s;
}

.devil-container .devil-vision .devil-bottom:hover .devil p span {
    background: #FFFFFF;
    color: #202020;
}

@media screen and (max-width: 992px) {
    .devil-container .devil-vision .vision-item:hover {
        background: #691919;
        border-radius: 50px 50px 0px 0px;
    }

    .devil-container .devil-vision .vision-item.vision-border {
        border-right: none;
        border-bottom: 2px solid #FF0000;
    }

    .devil-container .devil-vision .vision-item.second-vision:hover {
        border-radius: 0px 0px 0px 0px;
    }

    .devil-container .title .title-info {
        width: 100%;
    }
}

@media screen and (max-width: 542px) {
    .devil-container .devil-vision .vision-item .devil p.pl3 {
        width: 50px;
        padding-left: 1rem;
    }

    .devil-container .devil-vision .vision-item .devil p span {
        font-size: 12px;
    }

    .devil-container .devil-vision .devil-bottom .item p.pl3 {
        padding-left: 1rem;
    }

    .devil-container .devil-vision .devil-bottom .devil p span {
        font-size: 12px;
    }
}

@media screen and (max-width: 492px) {
    .devil-container .title h2 {
        font-size: 35px;
    }

}

@media screen and (max-width: 392px) {
    .devil-container .title h2 {
        font-size: 25px;
    }

    .devil-container .devil-vision .vision-item p.title {
        font-size: 16px;
    }

    .devil-container .devil-vision .vision-item .devil p {
        font-size: 12px;
    }

    .devil-container .devil-vision .vision-item .devil p span {
        padding: 2px 2px;
    }

    .devil-container .devil-vision .devil-bottom .item p {
        font-size: 12px;
    }

    .devil-container .devil-vision .devil-bottom .devil p span {
        padding: 2px 2px;
    }

    .devil-container .devil-vision .devil-bottom .title p {
        font-size: 16px;
    }
}


/* ****END DEVILFISH VISION **** */


/* Platform Section  */
/* Platform Section  */
/* Platform Section  */
.platform-container {
    background: #400000;
    padding: 2rem 1rem;
}

.platform-container .title h2 {
    font-size: 35px;
    font-weight: 900;
    color: #FFFFFF;
}

.platform-container .title h2 span {
    color: #FF0000;
}

.platform-container .platform-details .title p {
    font-size: 22px;
    color: #FFFFFF;
    padding: 0.5rem 0;
}

.platform-container .platform-details .info p {
    display: flex;
    /* align-items: center; */
    gap: 10px;
    margin-bottom: 0 !important;
    padding-top: 0.5rem;
}

.platform-container .platform-details .info p img {
    width: 30px;
    height: 30px;
}

.platform-container .platform-details .info p span {
    font-size: 14px;
    color: #FFFFFF;
}


.platform-container .platform-photo img {
    max-width: 100%;
}

/* Platform Bottom Info  */
.platform-container .platform-info {
    border: 2px solid #FF0000;
    padding: 2rem 0;
    border-radius: 10px;
}

.platform-container .platform-info .info {
    padding: 0 3rem;
}

.platform-container .platform-info .info p {
    font-size: 14px;
    color: #FFFFFF;
}

.platform-container .platform-info .single-border {
    border-right: 2px solid #FF0000;
}


/* Platform Responsive Section  */
@media screen and (max-width: 991px) {
    .platform-container .platform-info .single-border {
        border-right: none;
    }
}

@media screen and (max-width: 492px) {
    .platform-container .title h2 {
        font-size: 25px;
    }

    .platform-container .platform-info .info {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 392px) {
    .platform-container .title h2 {
        font-size: 20px;
    }

}

/* Platform End  */


/* Tournament Section  */
/* Tournament Section  */
/* Tournament Section  */
.tournament-container {
    background: #200000;
    padding: 2rem 1rem;
}

.tournament-container .title h2 {
    font-size: 35px;
    font-weight: 900;
    color: #FFFFFF;
}

.tournament-container .title h2 span {
    color: #FF0000;
}


/* Tournament Slider Section  */
.tournament-container .tournament-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tournament-container .tournament-item img {
    max-width: 100%;
    border-radius: 50%;
}

.tournament-container .tournament-item p.title {
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 0 !important;
    padding-top: 0.5rem;
}

.tournament-container .tournament-item p.info {
    font-size: 10px;
    color: #FFFFFF;
    margin-bottom: 0 !important;
}



/* Tournament Responsive Section  */
@media screen and (max-width: 629px) {
    .tournament-container .title h2 {
        font-size: 25px;
    }

}

@media screen and (max-width: 392px) {
    .tournament-container .title h2 {
        font-size: 20px;
    }

}





/* DisCard Bot Section  */
/* DisCard Bot Section  */
/* DisCard Bot Section  */
.discard-container {
    background: #400000;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.discard-container .title h2 {
    font-size: 35px;
    font-weight: 900;
    color: #FFFFFF;
}

.discard-container .title h2 span {
    color: #FF0000;
}

.discard-container .discard-content .discard-left .title-info p {
    color: #FFFFFF;
    font-size: 12px;
    margin-bottom: 0 !important;
}

.discard-container .discard-content .discard-left .title-info p.bold-title {
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 0 !important;
}

.discard-container .discard-content .discard-left .title-path {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.discard-container .discard-content .discard-left .title-path img {
    max-width: 100%;
}

.discard-container .discard-content .discard-left .button {
    text-align: center;
    margin-top: 2rem;
}

.discard-container .discard-content .discard-left .button a {
    background: #FF3333;
    font-size: 12px;
    color: #FFFFFF;
    padding: 13px;
    border-radius: 20px;
}

.discard-container .discard-content .discard-left p {
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 0.5rem;
}

.discard-container .discard-content .right-details {
    border: 2px solid #FF0000;
    position: relative;
    padding: 5rem 4rem;
    border-radius: 10px;
}

.discard-container .discard-content .right-details::before {
    position: absolute;
    content: "";
    width: 34.5px;
    min-height: 408.17px;
    left: -18px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-image: url(../images/card-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.discard-container .discard-content .right-details::after {
    position: absolute;
    content: "";
    width: 34.5px;
    min-height: 408.17px;
    right: -18px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-image: url(../images/card-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* Discard Bot Responsive Section  */
@media screen and (max-width: 492px) {
    .discard-container .title h2 {
        font-size: 25px;
    }

    .discard-container .discard-content .right-details {
        padding: 2rem 2rem;
    }
}

@media screen and (max-width: 392px) {
    .discard-container .title h2 {
        font-size: 20px;
    }

}



/* Team Section  */
/* Team Section  */
/* Team Section  */
.team-section {
    background: #1f0000;
}

.team-section .title h2 {
    font-size: 35px;
    font-weight: 900;
    color: #FFFFFF;
}

.team-section .title h2 span {
    color: #FF0000;
}

.team-section .team-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team-section .team-image img {
    width: 100%;
}

.team-section .das-border {
    border-top: 2px dashed #FF0000;
}


.btn_red {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: table;
    padding: 2px;
    background: linear-gradient(110.39deg, #FF0000 3.27%, #380000 117.56%);
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
    border-radius: 35px;
}

.btn_red span {
    display: block;
    background: #202020;
    position: relative;
    z-index: 7;
    padding: 20px 95px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.btn_red:hover {
    color: #fff;
}

.btn_red:hover span {
    background: transparent;
}

/* Team Responsive Section  */
@media screen and (max-width: 492px) {
    .team-section .title h2 {
        font-size: 25px;
    }

}

@media screen and (max-width: 392px) {
    .team-section .title h2 {
        font-size: 20px;
    }

}




/* **** FAQ **** */
.faq-wrp {
    position: relative;
    /* padding: 0 0 145px; */
    background: #400000;
}

.faq-wrp .container {
    max-width: 1536px;
}

.faq-wrp .faq-title-img {
    width: 100%;
    margin: 0 0 0;
}

.faq-wrp .faq-title img {
    max-width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.faq-wrp .faq-title h2 {
    font-weight: 900;
    font-size: 95.3319px;
    line-height: 114px;
    color: #FFFFFF;
    margin: 0 0 30px;
}

.faq-wrp .faq-box {
    border: 3px solid #FF0000;
    border-radius: 35px;
    padding: 35px;
    margin: 0 0 30px;
    position: relative;
}

.faq-wrp .faq-box img.faq-shap1 {
    position: absolute;
    left: 30px;
    top: -24px;
    max-width: 100%;
}

.faq-wrp .faq-box img.faq-shap2 {
    position: absolute;
    right: 25px;
    bottom: -26px;
    max-width: 100%;
}

.faq-wrp .faq-box h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 8px;
}

.faq-wrp .faq-box p {
    font-family: 'Helvetica Neue LT Pro Roman';
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
}

.faq-wrp .btn_red {
    margin: 0 0 0 auto;
}

.faq-wrp .btn_red span {
    padding: 20px 135px;
}

.faq-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faq-image img {
    height: 480px;
    max-width: 100%;
}

/* **** FAQ **** */



/* **** About **** */
.about-wrp {
    /* padding: 95px 0 130px; */
    position: relative;
    background-image: url("../images/about-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px;
    margin: 0 0 0;
}

.about-wrp .about-container {
    background: rgb(64, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 7;
}

.about-container .title h2 {
    font-size: 35px;
    font-weight: 900;
    color: #FFFFFF;
}

.about-container .title h2 span {
    color: #FF0000;
}

.about-container .about-info p {
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 0.5rem;
}

.about-container .about-details {
    border: 2px solid #FF0000;
    position: relative;
    padding: 2rem 4rem;
    border-radius: 20px;
}

.about-container .about-details p {
    font-size: 14px;
    color: #FFFFFF;
}

.about-container .about-details::before {
    position: absolute;
    content: "";
    width: 60px;
    min-height: 120px;
    left: -30px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-image: url(../images/card-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about-container .about-details::after {
    position: absolute;
    content: "";
    width: 60px;
    min-height: 120px;
    right: -30px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-image: url(../images/card-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* About Responsive Section  */
@media screen and (max-width: 492px) {
    .about-container .title h2 {
        font-size: 25px;
    }

    .about-container .about-details {
        padding: 2rem 2rem;
    }

}

@media screen and (max-width: 392px) {
    .about-container .title h2 {
        font-size: 20px;
    }

}

/* **** End About **** */


/* **** footer **** */
/* **** footer **** */
/* **** footer **** */
footer {
   background: #400000;
 }
footer .faq-title-img {
  width: 100%;
  margin: 0 0 100px;
}

footer .footer-block {
  display: flex;
  justify-content: space-between;
}

footer .footer-block img {
  max-width: 100%;
}

footer .quicklinks {
  padding-left: 75px;
}

footer .quicklinks ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
}

footer .quicklinks ul li {
  width: 50%;
  margin: 0 0 35px;
}

footer .quicklinks ul li a {
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

footer .quicklinks ul li a:hover {
  color: #FF0000;
}

footer .newsletter-block {
  max-width: 367px;
  margin: 0 auto;
}

footer .newsletter-block h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 15px;
}

footer .newsletter-block h2 span {
  display: block;
  font-weight: 900;
}

footer .newsletter-block .form-group {
  position: relative;
}

footer .newsletter-block .form-group .form-control {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 15px 60px 15px 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  border: none;
}

footer .newsletter-block .form-group .form-control::placeholder {
  color: #FFFFFF;
}

footer .newsletter-block .form-group button {
  width: 47px;
  background: linear-gradient(108.2deg, #B00101 2.78%, #222222 124.34%);
  border-radius: 0px 15px 15px 0px;
  padding: 11px 12px;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

footer .newsletter-block .form-group button img {
  max-width: 100%;
}

footer .newsletter-block .form-group button:hover {
  opacity: 0.8;
}

footer .social-icons {
  margin: 50px 0 0;
  padding: 50px 0 0;
  border-top: 2px dashed #FF0000;
}

footer .social-icons ul {
  display: flex;
  align-items: center;
}

footer .social-icons li {
  margin-right: 30px;
}

footer .social-icons li:last-child {
  margin: 0;
}

footer .social-icons li a img {
  max-width: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

footer .social-icons li a:hover img {
  filter: brightness(0) invert(0);
}

footer .copyright {
  background: #202020;
  padding: 35px 0 30px;
}

footer .copyright p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}


/*
footer .footer-block {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
}

footer .footer-link a {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 900;
    display: block;
    padding-top: 0.5rem;
}

footer .newsletter-block {
    max-width: 367px;
    margin: 0 auto;
}

footer .newsletter-block h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 15px;
}

footer .newsletter-block h2 span {
    display: block;
    font-weight: 900;
}

footer .newsletter-block .form-group {
    position: relative;
}

footer .newsletter-block .form-group .form-control {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 15px 60px 15px 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    border: none;
}

footer .newsletter-block .form-group .form-control::placeholder {
    color: #FFFFFF;
}

footer .newsletter-block .form-group button {
    width: 47px;
    background: linear-gradient(108.2deg, #B00101 2.78%, #222222 124.34%);
    border-radius: 0px 15px 15px 0px;
    padding: 11px 12px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

footer .newsletter-block .form-group button img {
    max-width: 100%;
}

footer .newsletter-block .form-group button:hover {
    opacity: 0.8;
}

footer .social-icons {
    border-top: 2px dashed #FF0000;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 2rem;
}


footer .social-icons a img {
    width: 30px;
    height: 30px;
}

footer .social-icons li a:hover img {
    filter: brightness(0) invert(0);
}

footer .copyright {
    background: #080808;
    padding: 35px 0 30px;
}

footer .copyright p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
} */

/* **** End footer **** */


/* Floating effect ends */
